@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  color: var(--foreground);
  background: var(--background);
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* 强制清除 Vercel 可能残留的默认样式 */
* {
  box-sizing: border-box;
}